<%# Author: Leslie Chang %>
<h3>Update Building</h3>
<%= form_tag admin_hall_path(@hall), :method => 'put' do %>
  <%= label_tag :name, 'Name' %>
  <%= text_field(:hall, :name) %>

  <%= label_tag :streamid, 'Id' %>
  <%= text_field(:hall, :streamid) %>

  <br/>
  <%= submit_tag 'Update Building', :class => 'btn btn-success' %>
<% end %>

<%= button_to 'Delete Building', admin_hall_path(@hall), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'%> 

<script type="text/javascript" src="/assets/jquery.wysiwyg.js"></script>
<script type="text/javascript">
  $(function () {
    $('#editor').wysiwyg({
      initialContent: '',
      css: '/assets/admin/bootstrap.css'
    });
  });
</script>

