<%# Author: Leslie Chang %>
<h3>Create Building</h3>
<%= form_tag admin_halls_path, :method => 'post' do %>
  <%= label_tag :name, 'Name' %>
  <%= text_field(:hall, :name) %>
  
  <%= label_tag :streamid, 'Id' %>
  <%= text_field(:hall, :streamid) %>

  <%= label_tag :features, 'Features' %>
  <% @features.each do |feature| %>
    <label class="checkbox">
      <%= check_box_tag "features[#{feature.name}]", 1 %>
      <%= feature.full_name %>
    </label>
  <% end %>

  <br/>

  <%= submit_tag 'Create Building', :class => 'btn btn-success' %>
<% end %>

<a href="/admin/halls"><button class="btn">Cancel</button></a>

<script type="text/javascript" src="/assets/jquery.wysiwyg.js"></script>
<script type="text/javascript">
  $(function () {
    $('#editor').wysiwyg({
      initialContent: '',
      css: '/assets/admin/bootstrap.css'
    });
  });
</script>
