<%= form_tag admin_halls_path, :method => 'post' do %>
  <%= label_tag :name, 'Name' %>
  <%= text_field :hall, 'name' %>
  
  <%= label_tag :streamid, 'Id' %>
  <%= text_field :streamid, 'id' %>

  <%= label_tag :features, 'Features' %>
  <% @green_features.each do |feature| %>
    <label class="checkbox">
      <%= check_box_tag "green_features[#{feature.full_name}]", 1 %>
      <%= feature.full_name %>
    </label>
  <% end %>

  <br/>

  <%= submit_tag 'Create Hall', :class => 'btn btn-success' %>
<% end %>

<script type="text/javascript" src="/assets/jquery.wysiwyg.js"></script>
<script type="text/javascript">
  $(function () {
    $('#editor').wysiwyg({
      initialContent: '',
      css: '/assets/admin/bootstrap.css'
    });
  });
</script>
