<!DOCTYPE html>
<html>
<head>
  <title>UC Berkeley Energy Management</title>
  <%= stylesheet_link_tag    "mobile" %>
  <%= javascript_include_tag "mobile" %>
  <%= csrf_meta_tags %>  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1" />
  <style>

  body .ui-li .ui-li-desc {
    white-space:normal;
  }

  .ui-bar-b, .ui-btn-active{
    background: rgb(64,71,143); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(64,71,143,1) 1%, rgba(34,37,82,1) 50%, rgba(22,26,61,1) 51%, rgba(21,25,60,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(64,71,143,1)), color-stop(50%,rgba(34,37,82,1)), color-stop(51%,rgba(22,26,61,1)), color-stop(100%,rgba(21,25,60,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(64,71,143,1) 1%,rgba(34,37,82,1) 50%,rgba(22,26,61,1) 51%,rgba(21,25,60,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(64,71,143,1) 1%,rgba(34,37,82,1) 50%,rgba(22,26,61,1) 51%,rgba(21,25,60,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(64,71,143,1) 1%,rgba(34,37,82,1) 50%,rgba(22,26,61,1) 51%,rgba(21,25,60,1) 100%); /* IE10+ */
      background: linear-gradient(top, rgba(64,71,143,1) 1%,rgba(34,37,82,1) 50%,rgba(22,26,61,1) 51%,rgba(21,25,60,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40478f', endColorstr='#15193c',GradientType=0 ); /* IE6-9 */
  }
	.rotate {

		/* Safari */
		-webkit-transform: rotate(-90deg);

		/* Firefox */
		-moz-transform: rotate(-90deg);

		/* IE */
		-ms-transform: rotate(-90deg);

		/* Opera */
		-o-transform: rotate(-90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	#feedback-widget{
		position: fixed;
		top: 50%;
		right:-34px;
		background-color: rgb(159,166,23);
		color:#FFFFFF;
		padding: 8px;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		cursor: pointer;
		text-decoration: none;
	}
	#content-holder {padding-left: 25px; padding-right: 25px;}

	.message{
     -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
     background-size: 40px 40px;
     background-image: -webkit-gradient(linear, left top, right bottom,
                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                         to(transparent));
     background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
     background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
     background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                          transparent 75%, transparent);
     background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                           transparent 75%, transparent);
     background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
     -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     width: 100%;
     border: 1px solid;
     color: #fff;
     padding: 15px;
     
     _position: absolute;
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     -webkit-animation: animate-bg 5s linear infinite;
     -moz-animation: animate-bg 5s linear infinite;
}

.error{
     background-color: #de4343;
     border-color: #c43d3d;
}

.success{
     background-color: #61b832;
     border-color: #55a12c;
}

.message h3{
     margin: 0 0 5px 0;
}

.message p{
     margin: 0;
}

@-webkit-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
  </style>
</head>
<body>


<% if flash[:error] != nil %>
<div class="error message">
     <p><%= flash[:error] %></p>
</div>
<% end %>


<% if flash[:success] != nil %>
<div class="success message">
     <p><%= flash[:success] %></p>
</div>
<% end %>

<%= link_to 'CONTACT', {:controller=>"feedback", :action =>"submit_form", :return_to=>request.fullpath}, {"class"=>"rotate", "id"=>"feedback-widget"}%> 
<div id="content-holder">
<%= yield %>
</div>
</body>
</html>
