<!DOCTYPE html>
<html>
<head>
  <title>UC Berkeley Energy Management</title>
  <%= stylesheet_link_tag    "mobile" %>
  <%= javascript_include_tag "mobile" %>
  <%= csrf_meta_tags %>  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1" />
  <script type="text/javascript">
  function displayFeedbackForm(){
  	$("#feedback-form").css("display" ,"block");
  }
  function hideFeedbackForm(){
  	$("#feedback-form").css("display" ,"none");
  }
</script>

  <style>
	.rotate {

		/* Safari */
		-webkit-transform: rotate(-90deg);

		/* Firefox */
		-moz-transform: rotate(-90deg);

		/* IE */
		-ms-transform: rotate(-90deg);

		/* Opera */
		-o-transform: rotate(-90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	#feedback-widget{
		position: fixed;
		top: 50%;
		right:-34px;
		background-color: #008B00;
		color:#FFFFFF;
		padding: 10px;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		cursor: pointer;
	}
	#feedback-form{
		display: none;
		position: fixed;
		right: 40px;
		top: 30%;
		z-index: 999;
		padding: 50px;
		background-color: #F8F8FF;
		border-radius: 10px;
		border: solid;
		border-width: 2px;
		border-color: #2F4F4F;
	}
	#message{
		margin-top: 1em;
		height: 10em;
		width: 15em;
		margin-bottom: 2em;
	}
	#canel-button{
		width: 10%;
		float: left;
	}
	#submit-button{
		width: 10%;
		float: right;
	}
	#content {padding-left: 30px; padding-right: 30px;}
  </style>
</head>
<body>
<div class="rotate" id="feedback-widget" onClick="displayFeedbackForm();"> FEEDBACK </div>
	<div id="feedback-form">
		<%= form_tag "emailer/submit_feedback" do -%>
			Please enter your feedback:
			<%= text_area_tag 'message' %>
			<%= hidden_field_tag 'return_to', request.url %>
			<button id="cancel-button" type="button" value="Cancel" onClick="hideFeedbackForm();" >Cancel </button>
			<%= submit_tag 'Submit' %>
		<% end -%>
	</div>
<div id="content">
<%= yield %>
</div>

</body>
</html>
